#sistema-pdv-form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 100px 0 0 0;

  h1 {
    color: #0c2c78;
  }

  // .form{
  //   color: #0C2C78;
  //   font-family: var(--font-default);
  //   font-size: 19px;
  //   padding: 20px 0 0 0 ;
  //   width: 100%;
  //   input{
  //     width: 400px;
  //     padding: 10px;
  //     border: rgb(189, 188, 188) 1px solid;
  //     border-radius: 3px;

  //   }

  // }
  .form {
    margin: 0 auto;
    p {
      margin: 20px 0 40px;
    }

    .form-pdv {
      .field-group {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        label {
          font-size: 20px;
          color: #62707e;
          margin-bottom: 5px;
        }

        input {
          padding: 15px 10px;
          border-radius: 10px;
          border: 1px solid #d6d6d6;

          font-size: 20px;
        }
        input:focus {
          outline: 2px solid var(--color-primary400);
        }

        .error-message {
          font-size: 17px;
          margin-top: 5px;
          color: red;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 10px;

        color: #fff;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--font-default);

        cursor: pointer;

        img {
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: 570px) {
    padding: 50px 0 0 0;
    width: 90%;
  }
}
