#header-component {
  width: 100%;
  height: 80px;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.61);

  .logo-container {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      margin-right: 10px;
    }

    .logo-text {
      h1 {
        font-size: 1.5rem;
        color: var(--color-text-title);
      }
      p {
        font-size: 1rem;
        color: var(--color-text-read);
      }
    }
  }

  .content-container {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      a {
        margin: 0 10px;
        padding: 10px;

        &:hover {
          background: var(--color-secondary);
        }

        li {
          color: #333;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
  .btn-cta {
    display: flex;
    align-items: center;

    margin-left: 100px;
    padding: 10px 20px;
    background: var(--color-primary);
    border-radius: 5px;

    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;

    img {
      margin-right: 5px;
    }
  }
}
